[Desktop Entry]
Type=Application
Name=conky
Exec=conky --daemonize --pause=1 -c '/home/carelli/conky/novo/conky_carelli.conf'
StartupNotify=false
Terminal=false
Icon=/home/carelli/Pessoais/Imagens/Logos/conky.png
Categories=System;Monitor;
