[Desktop Entry]
Type=Application
Name=conky
Exec=conky --daemonize --pause=1 -c '/home/antonio/dados/Codigos/conky/novo/conky_carelli.conf'
StartupNotify=false
Terminal=false
Icon=/home/antonio/dados/OneDrive/Imagens/Logos/conky.png
Categories=System;Monitor;
